/*หน้าต่างเว็บ รูปแบบการนำเสนอ*/
/* .App {
  color: black;
  font-family: Kunlasatri;
  padding-top: 20px;
  
  } */


.TopBar {
  overflow: hidden;
  top:0;
  width: 100%;
  height: 50px;
  z-index: 1;
  background: #141414;
  position: fixed;
}

.TopBarLeft{
  float: left;
  display: block;
  color:  #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-position: sticky;
  position: sticky;
}   

.TopBarRight{
  float: right;
  display: block;
  color:  #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-position: sticky;
  position: sticky;
}

.LogoBar{
  left: 5.83%;
  right: 83.54%;
  top: 19%;
  bottom: 32%;
  float: left;
  display: block;
  color:  #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Freestyle Script;
  -webkit-position: sticky;
  position: sticky;
}
.LogoBar:hover{
  color:  #FFFFFF;
  text-decoration: none;
}
.TopBarRight:hover{
  border-bottom: 2px solid white;
  text-decoration: none;
  color:  #FFFFFF;
}

.TopBarLeft:hover{
  border-bottom: 2px solid white;
  text-decoration: none;
  color:  #FFFFFF;
}

.TopBarRight.active {
  border-bottom: 2px solid white;
  text-decoration: none;
  color:  #FFFFFF;
}

.TopBarLeft.active {
  border-bottom: 2px solid white;
  text-decoration: none;
  color:  #FFFFFF;
}

.PhotoProfileBar {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 5px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
  object-fit: cover;
}

.Sticky {
  -webkit-position: sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color:  #000000;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-decoration: none;
  color:  #000000;
}

li a:hover {
  background-color: #555;
  color: white;
  text-decoration: none;
}

.Row {
  display: flex;
} 

.Column {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.Column.Side {
   width: 20%;
   background-color: white;
}

.Column.Middle {
  width: 80%;
  background-color: white;
}

.Column.Half {
  width: 50%;
  background-color: white;
}

.Column.Ten {
  width: 5px;
  background-color: white;
}

.Footer {
  grid-area: footer;
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 195px;
  padding-top: 90px;
  padding-bottom: 90px; 
}

/*รายละเอียด ตัวหนังสือ ตาราง กล่องข้อความ ปุ่ม*/
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

input[type=password] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

input[type=email] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

input[type=tel] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

input[type=search] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

input[type=number] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

input[type=date] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

input [type=checkbox] {
  margin: 10px;
}

.Select{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

.FontHeader {
  padding: 20px;
  text-align: center;
  font-size: 62px;
}

.FontBody {
  padding: 20px;
  text-align: center;
  font-size: 42px;
}

.FontDetial{
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 20px;
}

.FontSide{
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.FontSuccess {
  color: #4CAF50;
}

.FontDanger {
  color: #f44336;
}

.FontWarning {
  color: #ff9800;
}

.HaveNotCart{
  width: 150px;
  height: 150px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: block;
}

.PhotoProfile {
  width: 150px;
  height: 150px;
  float: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: block;
  object-fit: cover;
}

.PhotoProduct {
  width: 100%;
  height: 300px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 10px;
  object-fit: cover;
}

.Photo{
  width: 100%;
  height: 94vh;
  float: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
}

.FontHome{
  display:none ;
  white-space:nowrap;
  color:#f1f1f1;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  padding:12px 24px;
  letter-spacing:4px;
  text-align:center;
}

.Logo {
  font-size: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

td {
  padding: 10px;
  font-size: 16px;
  text-align: justify;
  vertical-align: top;
}

th{
  text-align:center;
  padding: 10px;
  vertical-align: top;
  background-color: #ccc;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  border: 1px solid black;
}

th,tr{
  border: 1px solid black;
  text-align:center;
}

.Card {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  text-align: left;
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
}

.FontCard {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.CardDetial{
  white-space: nowrap; 
  width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis;
  word-wrap:break-word;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.Price {
  color: grey;
  font-size: 20px;
}

.BTNList {
  border: none;
  color: white;
  background-color: #2196F3;
  text-align: center;
  float: center;
  font-size: 16px;
  width: 10%;
  padding: 12px 20px 12px 20px;
  margin: 10px;
}

.BTNGrid {
  border: none;
  color: white;
  background-color: #2196F3;
  text-align: center;
  font-size: 16px;
  float: center;
  width: 10%;
  padding: 12px 20px 12px 20px;
  margin: 10px;
}

.BTNDetial {
  border: none;
  color: black;
  background-color: lightgrey;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 100%;
  height: 45px;
}

.BTNDetial:hover {
  background-color: #000;
  color: white;
}

.BTNSearch{
  border: none;
  color: white;
  background-color: #2196F3;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 12px 20px 12px 20px;
  margin-top: 10px;
}

.BTNEdit {
  border: none;
  color: black;
  background-color: #2196F3c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 25%;
  height: 45px;
  margin-top: 50px;  
}

.BTNEdit:hover {
  background-color: #2196F3;
  color: white;
}

.BTNAddProduct{
  border: none;
  color: black;
  background-color: #4CAF50c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: left;
  width: 30%;
  height: 50px;
  margin-top: 15px;
}

.BTNAddProduct:hover {
  background-color: #4CAF50;
  color: white;
}

.BTNCencleProduct{
  border: none;
  color: black;
  background-color: #f44336c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: center;
  width: 100%;
  height: 45px;
  /* padding: 12px 20px 12px 20px; */
}

.BTNCencleProduct:hover {
  background-color: #f44336;
  color: white;
}

.BTNDelete{
  border: none;
  color: black;
  background-color: #f44336c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 25%;
  height: 45px;
  margin-top: 50px;
}

.BTNDelete:hover{
  background-color: #f44336;
  color: white;
}

.BTNPreview{
  border: none;
  color: black;
  background-color: #ff9800c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 25%;
  height: 45px;
  margin-top: 50px;
}

.BTNPreview:hover {
  background-color: #ff9800;
  color: white;
}

.BTNComfirm{
  border: none;
  color: black;
  background-color: #4CAF50c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 25%;
  height: 45px;
  margin-top: 50px;
}

.BTNComfirm:hover {
  background-color: #4CAF50;
  color: white;
}

.BTNProcess{
  list-style-type: none;
  width: 100%;
  text-align: center;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 16px;
}

.BTNProcess:hover{
  background-color: #555;
  color:white;
}

.BTNSuccess{
  list-style-type: none;
  width: 100%;
  text-align: center;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 16px;
}

.BTNSuccess:hover{
  background-color: #555;
  color:white;
}

.BTNWarning {
  color: #ff9800;
  border: none;
  background-color: white;
  font-size: 16px;
}

.BTNSignin{
  border: none;
  color: black;
  background-color: #4CAF50c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: center;
  width: 50%;
  height: 45px;
  margin-top: 10px;
  margin-left: 150px;
}

.BTNSignin:hover {
  background-color: #4CAF50;
  color: white;
}

.BTNSignup{
  border: none;
  color: black;
  background-color: #4CAF50c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: center;
  width: 50%;
  height: 45px;
  margin-top: 10px;
  margin-left: 150px;
}

.BTNSignup:hover {
  background-color: #4CAF50;
  color: white;
}

.Cart {
  top: 100px;
  position: absolute;
  right: 0px;
  padding: 10px;
  width: 45px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: white;
  border-radius:  5px 0 0 5px ;
  background-color: lightgray;
}

.Cart:hover {
  background-color: gray;
}

.PhotoCart{
  margin-right: 20px;
}

.Badge {
  position: absolute;
  top: 0px;
  right: -10px;
  text-align: center;
  padding: 1px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.Status {
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.Timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.Timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: gray;
  top: 20px;
  bottom: 40px;
  left: 205px;
} 

.Container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;  
}

.Container::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 200px;
  background-color: white;
  border: 2px solid #4CAF50;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.FontStatus {
  padding-left: 250px ;
  text-align: left;
}

.FontSignin {
  font-size: 16px;
  float: center;
  margin-right: auto;
  margin-top: 20px;
}

.Link,a{
  color:  #000000;
  text-decoration: none;
}

.Link:hover,a:hover{
  color:  #4CAF50;
  text-decoration: none;
}

.tag{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}



.progressbar {
  content: '';
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 0px;
  /* counter-increment: step 0; */
}
.Standat {
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  background-color: #ccc;
  height: 5px;
  color: black;
}
.Standat:before {
  content: '';
  width: 20px;
  height: 20px;
  line-height: 50px;
  border: 3px solid #ecf0f1;
  display: block;
  text-align: center;
  margin: -8px auto 10px auto;
  border-radius: 50%;
  background-color: white;
  letter-spacing: 0px;
}
.Standat:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ecf0f1;
  top: 25px;
  left: -50%;
  z-index: -1;
}
.Standat:first-child:after {
  content: none;
}
.Standat.active {
  color: black;
}
.Standat:before {
  border-color: #f1c40f;
}
.Standat.active , li:after {
  background-color: #ccc;
  height: 5px;
}
.Standat:hover {
  background-color: #000;
  height: 5px;
}

/* New */
.App {
  color: black;
  font-family: Kunlasatri;
  padding-top: 25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.Row {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.col-1 {width: 8.33%;
  padding: 0px;
  margin: 0px;}
.col-2 {width: 16.66%;
  padding: 0px;
  margin: 0px;}
.col-3 {width: 25%;
  padding: 0px;
  margin: 0px;}
.col-4 {width: 33.33%;
  padding: 0px;
  margin: 0px;}
.col-5 {width: 41.66%;
  padding: 0px;
  margin: 0px;}
.col-6 {width: 50%;
  padding: 0px;
  margin: 0px;}
.col-7 {width: 58.33%;
  padding: 0px;
  margin: 0px;}
.col-8 {width: 66.66%;
  padding: 0px;
  margin: 0px;}
.col-9 {width: 75%;
  padding: 0px;
  margin: 0px;}
.col-10 {width: 83.33%;
  padding: 0px;
  margin: 0px;}
.col-11 {width: 91.66%;
  padding: 0px;
  margin: 0px;}
.col-12 {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

h1{font-size: 60px;}
h2{font-size: 40px;}
h3{font-size: 32px;}
h4{font-size: 20px;}
h5{font-size: 16px;}
h6{font-size: 14px;}

/* Start Navbar */

.Navbar {
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  background: black;
  position: fixed;
}

.NavbarLeft {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-position: sticky;
  position: sticky;
  width: 150px;
}

.NavbarRight {
  float: right;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  -webkit-position: sticky;
  position: sticky;
  width: 100px;
}

.NavbarRight:hover {
  border-bottom: 5px solid #FFB731;
  text-decoration: none;
  color: white;
  padding-bottom: 12px;
}

.NavbarRight.Active {
  border-bottom: 5px solid #FFB731;
  text-decoration: none;
  color: #FFFFFF;
  padding-bottom: 12px;
}

.Navbar ul {
  list-style: none;
  text-align: center;
}

.Navbar li {
  display: inline-block;
}

.NavbarText {
  text-decoration: none;
  color: white;
  display: block;
  width: 100px;
}

.NavbarText:hover {
  border-bottom: 5px solid #FFB731;
  text-decoration: none;
  color: #FFFFFF;
  padding-bottom: 12px;
}

.NavbarText.Active {
  border-bottom: 5px solid #FFB731;
  text-decoration: none;
  color: #FFFFFF;
  padding-bottom: 12px;
}

/* End Navbar */


/* Start Haeder */
.HeaderArea{
  width: 100%;
  height: 280px;
  background-color: #FED07A;
  z-index: 0;
}

.HeaderArea img{
  width: 100%;
  height: 280px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
}

.HeaderAreaCard {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  text-align: center;
  float: left;
  margin-left: 4.16%;
  margin-top: -45px;
  background-color: white;
}

.HeaderAreaCard img{
  width: 100%;
  height: 200px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 10px;
  object-fit: cover;
}

.HeaderAreaCard button{
  font-family: Kunlasatri;
  font-size: 16px;
  border: none;
  color: black;
  background-color: #FED07A;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 45px;
}

.HeaderAreaCard button:hover{
  background-color: #FFB731;
  color: white;
}

/* End Haeder */

/* Start Button */
.BTN_Buy{
  font-family: Kunlasatri;
  font-size: 16px;
  border: none;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.BTN_Buy:hover{
  background-color: #FFB731;
  color: black;
}

.BTN_AddCart {
  font-family: Kunlasatri;
  font-size: 16px;
  border: none;
  color: black;
  background-color: white;
  border: 1px solid #FFB731;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  width: 150px;
}

.BTN_AddCart:hover {
  background-color: #FFB731;
  color: white;
}

.BTN_Signin{
  font-family: Kunlasatri;
  font-size: 16px;
  border: none;
  color: black;
  background-color: #FED07A;
  border: 1px solid #FED07A;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  float: right;
}

.BTN_Signin:hover{
  background-color: #FFB731;
  color: white;
}

.BTN_Signup{
  font-family: Kunlasatri;
  font-size: 16px;
  border: none;
  color: #FFB731;
  background-color: white;
  border: 1px solid #FFB731;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  float: right;
}

.BTN_Signup:hover{
  background-color: #FFB731;
  color: white;
}
/* End Button */


/* Start Input */
input[type="search"]{
  font-family: Kunlasatri;
  font-size: 16px;
  border: 1px solid black;
  margin-top: 50px;
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
}

input[type="number"]{
  font-family: Kunlasatri;
  font-size: 16px;
  border: 1px solid black;
  margin-top: -50px;
  margin-right: 25px;
  padding: 10px 10px;
  width: 40%;
  border-radius: 5px;
}

input[type="text"],[type="password"],[type="email"],[type="tel"]{
  font-family: Kunlasatri;
  font-size: 16px;
  border: 1px solid black;
  margin-top: -50px;
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
}

/* End Input */


/* Start Product */
.Card {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  text-align: center;
  float: left;
  margin-left: 4.16%;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: white;
}

.Card img{
  width: 100%;
  height: 200px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 10px;
  object-fit: cover;
}

.Card button{
  font-family: Kunlasatri;
  font-size: 16px;
  border: none;
  color: black;
  background-color: #FED07A;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 45px;
}

.Card button:hover{
  background-color: #FFB731;
  color: white;
}

/* End Product */


/* Start Detail */
.IMG_Detail{
  width: 100%;
  height: 400px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 10px;
  object-fit: cover;
}
/* End Detail */


/* Start Cart */
.CartCard{
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 200px;
  float: left;
  margin-bottom: 10px;
  background-color: white;
}

.CartCard img{
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  position: absolute;
}

.TotalCart{
  width: 100%;
  float: left;
  margin-bottom: 10px;
  background-color: white;
}
/* End Cart */

/* Start Buying */
.BuyingCard{
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
  float: left;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
}

.BuyingCard button{
  font-family: Kunlasatri;
  font-size: 16px;
  border: none;
  color: black;
  background-color: white;
  border: 1px solid #FFB731;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  width: 150px;
}

.BuyingCard button:hover{
  background-color: #FFB731;
  color: white;
}

/* End Buying */

/* New */

